/* Overall */

html,
body {
  font-family: "Oxanium", cursive;
  height: 100%;
  background-color: black;
  color: white;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.main-container {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  background-color: black;
}

/* Header */

.header-container {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  height: 80px;
  background-color: black;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
  color: white;
}

.header-logo {
  height: 50px;
}

.menu-items {
  display: flex;
  gap: 40px;
}

.header-container a:hover {
  font-weight: bold;
  color: red;
}

/* Comics Page */

.comics-page-nav {
  display: flex;
  gap: 10px;
  margin-top: 18px;
}

.comics-page-nav div {
  border: solid 1px white;
  padding: 5px;
  border-radius: 5px;
}

.all-comics-container {
  display: flex;
  flex-wrap: wrap;
}

.nav-button {
  cursor: pointer;
}

.nav-button:hover {
  border-color: yellow;
}

/* Comic Block */

.comic-block-container {
  background-color: whitesmoke;
  color: black;
  border: 1px solid black;
  height: 250px;
  width: 425px;
  display: flex;
  margin: 15px 15px 0 0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.comic-block-container img {
  height: 250px;
  width: 165px;
}

.comic-block-container .info {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 12px;
  overflow-y: scroll;
}

.comic-block-container .info .name {
  font-weight: bold;
  font-size: 15px;
}

/* Characters Page */

.search-bar {
  margin-top: 5px;
  border: none;
  box-sizing: border-box;
  outline: none;
  height: 38px;
  width: 425px;
  font-size: 16px;
  padding-left: 40px;
  border-radius: 10px;
}

.search-bar-container {
  position: relative;
  width: 425px;
}

.search-bar-container img {
  position: absolute;
  height: 26px;
  top: 12px;
  left: 7px;
}

.all-characters-container {
  display: flex;
  flex-wrap: wrap;
}

.characters-page-nav {
  display: flex;
  gap: 10px;
  margin-top: 18px;
}

.characters-page-nav div {
  border: solid 1px white;
  padding: 5px;
  border-radius: 5px;
}

/* Character Block */

.char-block-container img {
  object-fit: cover;
}

.char-block-container {
  position: relative;
  box-sizing: border-box;
}

.heart-black {
  z-index: 1;
  background-color: black;
  color: white;
  border-radius: 50%;
  box-sizing: border-box;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 2px;
  top: 2px;
  cursor: pointer;
}

.heart-red {
  z-index: 1;
  background-color: black;
  color: red;
  border-radius: 50%;
  box-sizing: border-box;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 2px;
  top: 2px;
  cursor: pointer;
}

.char-block-container:hover {
  border: 3px solid yellow;
  cursor: pointer;
}

/* Appearances  */

.appearances-overall-container {
  display: flex;
  flex-direction: column;
}

.appearances-overall-container h1 {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.appearances-overall-container .appearances-sub-container {
  display: flex;
  gap: 30px;
}

.appearances-sub-container > img {
  height: 500px;
  width: 500px;
  object-fit: cover;
  border-radius: 10%;
}

.comics-list-item {
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  height: 240px;
}

.comics-list-item img {
  height: 200px;
}

.comics-info {
  font-size: 12.5px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.comics-list-item .comics-info .title,
.comics-list-item .comics-info .description {
  font-weight: bold;
  font-style: italic;
  height: max-content;
  color: yellow;
}

.desc-block {
  overflow-y: auto;
  max-height: 145px;
}

.right-side h2 {
  font-style: italic;
  font-size: 26px;
  margin-bottom: 10px;
}

/* FAVES */

.fave-block-container {
  background-color: whitesmoke;
  color: black;
  border: 1px solid black;
  height: 250px;
  width: 425px;
  display: flex;
  margin: 15px 15px 0 0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.fave-block-container img {
  height: 250px;
  width: 165px;
  object-fit: cover;
}

.fave-block-container .info {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px 10px;
  overflow-y: scroll;
}

.fave-block-container .info .name {
  font-weight: bold;
  font-size: 15px;
}

.all-faves-container {
  display: flex;
  flex-wrap: wrap;
}
